* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
body {
  width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
/* global */
header {
  width: 100%;
  padding: 15px 0px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 0px auto;
}
.logo {
  width: 20%;
}
nav {
}
.navbar {
  display: flex;
}
.navbar li {
  margin: 0px 10px;
}
.nav-links {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: rgb(36, 36, 36);
}
/* hero */
.hero {
  background-color: #495e57;
  padding: 30px 0px;
  font-family: "Markazi Text", serif;
}
.hero-title {
  font-size: 64px;
  color: #d3b106;
  font-weight: 400;
  line-height: 0.5;
}
.hero-sub-title {
  font-size: 40px;
  color: #edefee;
}
.hero-description {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  color: #edefee;
  margin: 5px 0px;
}
.hero-btn,
.main-btn {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #f4ce14;
  border: none;
  border-radius: 16px;
  padding: 8px 15px;
  cursor: pointer;
}
.hero-content {
  width: 35%;
}
.hero-img {
  width: 65%;
  position: relative;
}
.img-cont {
  height: 285px;
  width: 290px;
  position: absolute;
  background: url(../src/assets/restauranfood.jpg);
  background-size: cover;
  top: -85px;
  right: 0px;
  border-radius: 8px;
}
/* main  */
.main {
  margin-top: 100px;
}
.main-container {
  width: 60%;
  margin: 0px auto;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header h2 {
  font-size: 64px;
  font-family: "Markazi Text", serif;
}
.main-card-container {
  margin-top: 50px;
  display: flex;
  gap: 13px;
}
.card-img {
  width: 261px;
  height: 209px;

  /* background-size: cover; */
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.img-one {
  background: url(../src/assets/greek\ salad.jpg);
  background-size: cover;
}
.img-two {
  background: url(../src/assets/bruchetta.jpg);
  background-size: cover;
}
.img-three {
  background: url(../src/assets/lemon\ dessert.jpg);
  background-size: cover;
}
.card-body {
  padding: 30px;
  background-color: #edefee;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Markazi Text", serif;
  font-size: 20px;
}
.price {
  color: #dbb702;
}
.card-para {
  font-family: "Karla", sans-serif;
  line-height: 1.1;
  font-size: 18px;
  margin-bottom: 20px;
}
.card-footer {
  display: flex;
  align-items: center;
}
.icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
